# Pandas

Материалы:
* Макрушин С.В. "Лекция 2: Библиотека Pandas"
* https://pandas.pydata.org/docs/user_guide/index.html#
* https://pandas.pydata.org/docs/reference/index.html
* Уэс Маккини. Python и анализ данных

## Задачи для совместного разбора

In [ ]:
# атрибут loc позволяет выполнить индексацию и срезы с использованием явного индекса
# атрибут iloc дает возможность выполнить индексацию и срезы, применяя неявный индекс в стиле языка Python

1. Загрузите данные из файла `sp500hst.txt` и обозначьте столбцы в соответствии с содержимым: `"date", "ticker", "open", "high", "low", "close", "volume"`.

In [1]:
import pandas as pd
name_columns = ["date", "ticker", "open", "high","low", "close", "volume"]
my_data = pd.read_csv("sp500hst.txt", sep=',',
                 names = name_columns)

#my_data[["open","close"]].head(5)
print(my_data)

            date ticker   open     high     low  close  volume
0       20090821      A  25.60  25.6100  25.220  25.55   34758
1       20090824      A  25.64  25.7400  25.330  25.50   22247
2       20090825      A  25.50  25.7000  25.225  25.34   30891
3       20090826      A  25.32  25.6425  25.145  25.48   33334
4       20090827      A  25.50  25.5700  25.230  25.54   70176
...          ...    ...    ...      ...     ...    ...     ...
122569  20100813    ZMH  51.72  51.9000  51.380  51.44   14561
122570  20100816    ZMH  51.13  51.4700  50.600  51.00   13489
122571  20100817    ZMH  51.14  51.6000  50.890  51.21   20498
122572  20100819    ZMH  51.63  51.6300  50.170  50.22   18259
122573  20100820    ZMH  50.03  50.5500  49.480  49.82   17792

[122574 rows x 7 columns]

2. Рассчитайте среднее значение показателей для каждого из столбцов c номерами 3-6.

In [2]:
print(my_data.loc[:, "high":"volume"].mean())
new_data = my_data.iloc[:, 3:7].mean()
new_data

high         43.102243
low          42.054464
close        42.601865
volume    81395.068138
dtype: float64

high         43.102243
low          42.054464
close        42.601865
volume    81395.068138
dtype: float64

3. Добавьте столбец, содержащий только число месяца, к которому относится дата.

In [3]:
my_data['date'] = pd.to_datetime(my_data['date'], format='%Y%m%d')
my_data['month'] = my_data['date'].dt.month
#то, что ниже - просто для прикола
my_data['day'] = my_data['date'].dt.day
my_data['year'] = my_data['date'].dt.year
my_data

,date,ticker,open,high,low,close,volume,month,day,year
0,2009-08-21,A,25.60,25.6100,25.220,25.55,34758,8,21,2009
1,2009-08-24,A,25.64,25.7400,25.330,25.50,22247,8,24,2009
2,2009-08-25,A,25.50,25.7000,25.225,25.34,30891,8,25,2009
3,2009-08-26,A,25.32,25.6425,25.145,25.48,33334,8,26,2009
4,2009-08-27,A,25.50,25.5700,25.230,25.54,70176,8,27,2009
...,...,...,...,...,...,...,...,...,...,...
122569,2010-08-13,ZMH,51.72,51.9000,51.380,51.44,14561,8,13,2010
122570,2010-08-16,ZMH,51.13,51.4700,50.600,51.00,13489,8,16,2010
122571,2010-08-17,ZMH,51.14,51.6000,50.890,51.21,20498,8,17,2010
122572,2010-08-19,ZMH,51.63,51.6300,50.170,50.22,18259,8,19,2010
122573,2010-08-20,ZMH,50.03,50.5500,49.480,49.82,17792,8,20,2010

4. Рассчитайте суммарный объем торгов для для одинаковых значений тикеров.

In [4]:
my_data.groupby('ticker')['volume'].sum() #см ячейку 120 лекции

ticker
A        8609336
AA      81898998
AAPL    52261170
ABC      9006756
ABT     18975870
          ...
XTO     21297931
YHOO    56837171
YUM     10971538
ZION    15551119
ZMH      4938916
Name: volume, Length: 524, dtype: int64

5. Загрузите данные из файла sp500hst.txt и обозначьте столбцы в соответствии с содержимым: "date", "ticker", "open", "high", "low", "close", "volume". Добавьте столбец с расшифровкой названия тикера, используя данные из файла `sp_data2.csv` . В случае нехватки данных об именах тикеров корректно обработать их.

In [5]:
my_new_data = pd.read_csv("sp_data2.csv", sep=";",names=["ticker","company_name", "%"])
my_new_data
my_data
pd.merge(my_data, my_new_data) #131 lec

,date,ticker,open,high,low,close,volume,month,day,year,company_name,%
0,2009-08-21,A,25.60,25.6100,25.220,25.55,34758,8,21,2009,Agilent Technologies,0.1%
1,2009-08-24,A,25.64,25.7400,25.330,25.50,22247,8,24,2009,Agilent Technologies,0.1%
2,2009-08-25,A,25.50,25.7000,25.225,25.34,30891,8,25,2009,Agilent Technologies,0.1%
3,2009-08-26,A,25.32,25.6425,25.145,25.48,33334,8,26,2009,Agilent Technologies,0.1%
4,2009-08-27,A,25.50,25.5700,25.230,25.54,70176,8,27,2009,Agilent Technologies,0.1%
...,...,...,...,...,...,...,...,...,...,...,...,...
82167,2010-08-13,ZION,20.17,20.4300,19.840,19.89,25193,8,13,2010,Zions Bancorp,0.0%
82168,2010-08-16,ZION,19.81,19.9600,19.600,19.95,25914,8,16,2010,Zions Bancorp,0.0%
82169,2010-08-17,ZION,20.07,20.4700,19.830,20.31,31717,8,17,2010,Zions Bancorp,0.0%
82170,2010-08-19,ZION,19.83,20.0000,19.130,19.35,45935,8,19,2010,Zions Bancorp,0.0%
82171,2010-08-20,ZION,19.15,19.2700,18.810,19.14,37225,8,20,2010,Zions Bancorp,0.0%

## Лабораторная работа №2

### Базовые операции с `DataFrame`

1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца(ов) с индексами.

In [6]:
recipes = pd.read_csv("recipes_sample.csv", sep=',',parse_dates=["submitted"])
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

In [7]:
reviews = pd.read_csv("reviews_sample.csv", sep=",", parse_dates=["date"])
print(reviews)

        Unnamed: 0     user_id  recipe_id       date  rating  \
0           370476       21752      57993 2003-05-01       5
1           624300      431813     142201 2007-09-16       5
2           187037      400708     252013 2008-01-10       4
3           706134  2001852463     404716 2017-12-11       5
4           312179       95810     129396 2008-03-14       5
...            ...         ...        ...        ...     ...
126691     1013457     1270706     335534 2009-05-17       4
126692      158736     2282344       8701 2012-06-03       0
126693     1059834      689540     222001 2008-04-08       5
126694      453285  2000242659     354979 2015-06-02       5
126695      691207      463435     415599 2010-09-30       5

                                                   review
0       Last week whole sides of frozen salmon fillet ...
1       So simple and so tasty!  I used a yellow capsi...
2       Very nice breakfast HH, easy to make and yummy...
3       These are a favorite for the holidays and so e...
4       Excellent soup!  The tomato flavor is just gre...
...                                                   ...
126691  This recipe was great! I made it last night. I...
126692  This recipe is outstanding. I followed the rec...
126693  Well, we were not a crowd but it was a fabulou...
126694  I have been a steak eater and dedicated BBQ gr...
126695  Wonderful and simple to prepare seasoning blen...

[126696 rows x 6 columns]

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

In [8]:
kolvo_strok = len(recipes.index)
print("Количество точек данных (строк)", kolvo_strok)

kolvo_col = len(recipes.columns)
print("Количество столбцов", kolvo_col)

print(recipes.dtypes) # dtypes - тип данных каждого столбца

Количество точек данных (строк) 30000
Количество столбцов 8
name                      object
id                         int64
minutes                    int64
contributor_id             int64
submitted         datetime64[ns]
n_steps                  float64
description               object
n_ingredients            float64
dtype: object

In [9]:
kolvo_strok2 = len(reviews.index)
print("Количество точек данных (строк)", kolvo_strok2)

kolvo_col2 = len(reviews.columns)
print("Количество столбцов", kolvo_col2)

print(reviews.dtypes) # dtypes - тип данных каждого столбца

Количество точек данных (строк) 126696
Количество столбцов 6
Unnamed: 0             int64
user_id                int64
recipe_id              int64
date          datetime64[ns]
rating                 int64
review                object
dtype: object

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

In [19]:
mask = recipes.isnull()
print(mask)

print("Кол-во пропусков в столбце: \n", mask.sum())

print()

all_col = len(recipes.index)
print("Все строки", all_col)

not_na_col = len(recipes.dropna()) #dropna - возвратит строки без na  (default - axis = 0 по строкам и how = "any")
print("Строки без na", not_na_col)

na_col = all_col - not_na_col
print("Строки с na", na_col)

dolya_na_col = na_col * 100 / all_col

print("Доля в отношении к общему кол-ву строк (для na): " , na_col * 100 / all_col, "%")

        name     id  minutes  contributor_id  submitted  n_steps  description  \
0      False  False    False           False      False     True        False
1      False  False    False           False      False     True        False
2      False  False    False           False      False     True        False
3      False  False    False           False      False     True        False
4      False  False    False           False      False    False        False
...      ...    ...      ...             ...        ...      ...          ...
29995  False  False    False           False      False    False        False
29996  False  False    False           False      False     True        False
29997  False  False    False           False      False     True        False
29998  False  False    False           False      False     True        False
29999  False  False    False           False      False    False        False

       n_ingredients
0              False
1               True
2              False
3               True
4               True
...              ...
29995          False
29996          False
29997           True
29998           True
29999          False

[30000 rows x 8 columns]
Кол-во пропусков в столбце:
 name                  0
id                    0
minutes               0
contributor_id        0
submitted             0
n_steps           11190
description         623
n_ingredients      8880
dtype: int64

Все строки 30000
Строки без na 12946
Строки с na 17054
Доля в отношении к общему кол-ву строк (для na):  56.846666666666664 %

In [30]:
mask = reviews.isnull()
#print(mask)
print("Кол-во пропусков в столбце: \n", mask.sum())

print()

all_col = len(reviews.index)
print("Все строки", all_col)

not_na_col = len(reviews.dropna())
print("Строки без na", not_na_col)

na_col = all_col - not_na_col
print("Строки с na", na_col)

print("Доля в отношении к общему кол-ву строк (для na): " , na_col * 100 / all_col, "%")

Кол-во пропусков в столбце:
 Unnamed: 0     0
user_id        0
recipe_id      0
date           0
rating         0
review        17
dtype: int64

Все строки 126696
Строки без na 126679
Строки с na 17
Доля в отношении к общему кол-ву строк (для na):  0.013417945317926375 %

1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

In [31]:
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

In [32]:
print("minutes: ", recipes["minutes"].mean(), "\nn_steps: ", recipes["n_steps"].mean(), "\nn_ingredients: ", recipes["n_ingredients"].mean())

minutes:  123.35813333333333
n_steps:  9.805582137161085
n_ingredients:  9.008285984848484

In [33]:
print("rating: ", reviews["rating"].mean())

rating:  4.410802235271832

1.5 Создайте серию из 10 случайных названий рецептов.

In [34]:
recipes_10 = recipes['name'].sample(10) #Возвращает случайную выборку элементов с оси объекта.
print("Случайные 10 названий рецептов (ключ + значение)\n" ,recipes_10)

my_val = recipes_10.values
print("\nСлучайные 10 названий рецептов: ")
my_val

Случайные 10 названий рецептов (ключ + значение)
 6031     chicken tortellini soup with mushrooms and spi...
10857                         favorite no cook pizza sauce
14124                                  horseradish pickles
22237                              ravioli w spinach pesto
19812                                  papa s reuben pizza
993                   apple cinnamon swirl pancakes  vegan
28007                    triple flavored big batch cookies
25093    spaghetti with uncooked tomato sauce southwest...
9176                                david arquette cookies
24960                   southern style ww 5 points chicken
Name: name, dtype: object

Случайные 10 названий рецептов:

array(['chicken tortellini soup with mushrooms and spinach',
       'favorite no cook pizza sauce', 'horseradish pickles',
       'ravioli w spinach pesto', 'papa s reuben pizza',
       'apple cinnamon swirl pancakes  vegan',
       'triple flavored big batch cookies',
       'spaghetti with uncooked tomato sauce southwestern style',
       'david arquette cookies', 'southern style ww 5 points chicken'],
      dtype=object)

1.6 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

In [35]:
reviews

,Unnamed: 0,user_id,recipe_id,date,rating,review
0,370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...,...
126691,1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
126692,158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
126693,1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
126694,453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
126695,691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

In [36]:
#new_reviews_index = reviews.reset_index(drop=True)
#new_reviews_index
reviews.rename(columns={"Unnamed: 0":"index"},inplace = True) # поменяли название столбца на index, inplace = новый массив
reviews

,index,user_id,recipe_id,date,rating,review
0,370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...,...
126691,1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
126692,158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
126693,1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
126694,453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
126695,691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

In [37]:
reviews = reviews.set_index("index") #Индекс может заменить существующий индекс или расширить его (в нашем случае меняем индексы 0-126695 на столбец index с его данными(они станут новыми индексами) )
reviews

,user_id,recipe_id,date,rating,review
index,,,,,
370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...
1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

In [38]:
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

In [22]:
#print((recipes['minutes'] <= 20) & (recipes['n_ingredients'] <= 5))
recipes[(recipes['minutes'] <= 20) & (recipes['n_ingredients'] <= 5)] # печетаем всю строку
#print([(recipes['minutes'] <= 20) & (recipes['n_ingredients'] <= 5)])

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
28,quick biscuit bread,302399,20,213909,2008-05-06,11.0,this is a wonderful quick bread to make as an ...,5.0
60,peas fit for a king or queen,303944,20,213909,2008-05-16,NaN,this recipe is so simple and the flavors are s...,5.0
90,hawaiian sunrise mimosa,100837,5,58104,2004-09-29,4.0,pineapple mimosa was changed to hawaiian sunri...,3.0
91,tasty dish s banana pudding in 2 minutes,286484,2,47892,2008-02-13,NaN,"""mmmm, i love bananas!"" a --tasty dish-- origi...",4.0
94,1 minute meatballs,11361,13,4470,2001-09-03,NaN,this is a real short cut for cooks in a hurry....,2.0
...,...,...,...,...,...,...,...,...
29873,zip and steam red potatoes with butter and garlic,304922,13,724218,2008-05-27,9.0,"i haven't tried this yet, but i am going to so...",5.0
29874,ziplock vanilla ice cream,74250,10,24386,2003-10-29,8.0,a fun thing for kids to do. may want to use mi...,3.0
29905,zucchini and corn with cheese,256177,15,305531,2007-09-29,4.0,from betty crocker fresh spring recipes. i lik...,5.0
29980,zucchini with jalapeno monterey jack,320622,10,305531,2008-08-20,3.0,simple and yummy!,3.0
29983,zucchini with serrano ham,162411,15,152500,2006-03-31,6.0,"this dish is from tim malzer, a german chef wh...",5.0

### Работа с датами в `pandas`

2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

In [40]:
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

In [41]:
recipes.dtypes

name                      object
id                         int64
minutes                    int64
contributor_id             int64
submitted         datetime64[ns]
n_steps                  float64
description               object
n_ingredients            float64
dtype: object

In [42]:
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

In [32]:

recipes[recipes["submitted"].dt.year < 2011]

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29993,zuni caf zucchini pickles,316950,2895,62264,2008-07-31,NaN,refrigerator pickles for some of the zucchini ...,8.0
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

### Работа со строковыми данными в `pandas`

3.1  Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

In [44]:
recipes["description_length"] = recipes["description"].str.len()
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0
...,...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0

3.2 Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

In [45]:
recipes["name"] = recipes["name"].str.title()
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0
1,Healthy For Them Yogurt Popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0
2,I Can T Believe It S Spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0
3,Italian Gut Busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0
4,Love Is In The Air Beef Fondue Sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0
...,...,...,...,...,...,...,...,...,...
29995,Zurie S Holey Rustic Olive And Cheddar Bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0
29996,Zwetschgenkuchen Bavarian Plum Cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0
29997,Zwiebelkuchen Southwest German Onion Cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0
29998,Zydeco Soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0
29999,Cookies By Design Cookies On A Stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0

3.3 Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами).

In [46]:
recipes["name_word_count"] = recipes["name"].str.strip().str.split().str.len()
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count
0,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0,8
1,Healthy For Them Yogurt Popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0,5
2,I Can T Believe It S Spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0,7
3,Italian Gut Busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0,3
4,Love Is In The Air Beef Fondue Sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0,8
...,...,...,...,...,...,...,...,...,...,...
29995,Zurie S Holey Rustic Olive And Cheddar Bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0,8
29996,Zwetschgenkuchen Bavarian Plum Cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0,4
29997,Zwiebelkuchen Southwest German Onion Cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0,5
29998,Zydeco Soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0,2
29999,Cookies By Design Cookies On A Stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0,7

### Группировки таблиц `pd.DataFrame`

4.1 Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). Какой участник добавил максимальное кол-во рецептов?

In [47]:
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count
0,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0,8
1,Healthy For Them Yogurt Popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0,5
2,I Can T Believe It S Spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0,7
3,Italian Gut Busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0,3
4,Love Is In The Air Beef Fondue Sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0,8
...,...,...,...,...,...,...,...,...,...,...
29995,Zurie S Holey Rustic Olive And Cheddar Bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0,8
29996,Zwetschgenkuchen Bavarian Plum Cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0,4
29997,Zwiebelkuchen Southwest German Onion Cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0,5
29998,Zydeco Soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0,2
29999,Cookies By Design Cookies On A Stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0,7

In [48]:
num_recipes_user = recipes.groupby("contributor_id")["id"].count() #группируем по contribution_id, считаем кол-во повторяющихся/уникальных строк (ищем по айди в группированном массиве) 
print(num_recipes_user)

max_recipes_user = num_recipes_user.argmax()
max_recipes_user

contributor_id
1530            5
1533          186
1534           50
1535           40
1538            8
             ...
2001968497      2
2002059754      1
2002234079      1
2002234259      1
2002247884      1
Name: id, Length: 8404, dtype: int64

1768

4.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы?

In [49]:
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count
0,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0,8
1,Healthy For Them Yogurt Popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0,5
2,I Can T Believe It S Spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0,7
3,Italian Gut Busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0,3
4,Love Is In The Air Beef Fondue Sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0,8
...,...,...,...,...,...,...,...,...,...,...
29995,Zurie S Holey Rustic Olive And Cheddar Bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0,8
29996,Zwetschgenkuchen Bavarian Plum Cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0,4
29997,Zwiebelkuchen Southwest German Onion Cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0,5
29998,Zydeco Soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0,2
29999,Cookies By Design Cookies On A Stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0,7

In [50]:
reviews

,user_id,recipe_id,date,rating,review
index,,,,,
370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...
1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

In [51]:
recipes_and_reviews = recipes.merge(reviews, how="left", left_on="id", right_on="recipe_id")
recipes_and_reviews

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count,user_id,recipe_id,date,rating,review
0,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0,8,743566.0,44123.0,2008-01-28,5.0,I lived in San Diego for 19 years and would g...
1,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0,8,76503.0,44123.0,2003-06-03,5.0,This soup is the Bomb! Don't hesitate to try.....
2,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0,8,34206.0,44123.0,2003-03-23,5.0,I just can't say enough about how wonderful th...
3,Healthy For Them Yogurt Popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0,5,494084.0,67664.0,2012-09-26,5.0,These are great! I use 100% (organic) juice a...
4,Healthy For Them Yogurt Popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0,5,303445.0,67664.0,2012-03-31,5.0,"Very, very good. My son loves these. He like..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128591,Zydeco Soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0,2,305531.0,486161.0,2013-07-18,5.0,Delish! I made this as directed but used a smo...
128592,Zydeco Soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0,2,1271506.0,486161.0,2012-09-10,5.0,Now the only substitution I made was African B...
128593,Zydeco Soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0,2,724631.0,486161.0,2014-01-07,5.0,"Very tasty soup, moderate spiciness (even afte..."
128594,Zydeco Soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0,2,133174.0,486161.0,2013-07-18,5.0,Very yummy indeed. A spicy sausage was used i...
128595,Cookies By Design Cookies On A Stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0,7,804234.0,298512.0,2008-05-02,1.0,I would rate this a zero if I could. I followe...

In [52]:
groupby_recipe = recipes_and_reviews.groupby('id') #по id группировка
#print(recipes_and_reviews[(recipes_and_reviews["id"] == 48)])

mean_recipe_ratings = groupby_recipe["rating"].mean()
print(mean_recipe_ratings)
print("------------------------------------------------")
print(groupby_recipe["review"].size())
print("--------------------------------------------------")
print(groupby_recipe["review"].count())
recipes_without_review = (groupby_recipe["review"].size() - groupby_recipe["review"].count()) #из всех вычитаем не пустые = кол-во пустых
recipes_without_review.sum() # сложим и получим пустые отзывы
#all_recipe_ratings = recipes

id
48        1.000000
55        4.750000
66        4.944444
91        4.750000
94        5.000000
            ...
536547    5.000000
536610    0.000000
536728    4.000000
536729    4.750000
536747    0.000000
Name: rating, Length: 30000, dtype: float64
------------------------------------------------
id
48         2
55         4
66        18
91         4
94         4
          ..
536547     1
536610     1
536728     1
536729     4
536747     4
Name: review, Length: 30000, dtype: int64
--------------------------------------------------
id
48         2
55         4
66        18
91         4
94         4
          ..
536547     1
536610     1
536728     1
536729     4
536747     4
Name: review, Length: 30000, dtype: int64

1917

4.3 Посчитайте количество рецептов с разбивкой по годам создания.

In [53]:
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count
0,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0,8
1,Healthy For Them Yogurt Popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0,5
2,I Can T Believe It S Spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0,7
3,Italian Gut Busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0,3
4,Love Is In The Air Beef Fondue Sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0,8
...,...,...,...,...,...,...,...,...,...,...
29995,Zurie S Holey Rustic Olive And Cheddar Bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0,8
29996,Zwetschgenkuchen Bavarian Plum Cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0,4
29997,Zwiebelkuchen Southwest German Onion Cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0,5
29998,Zydeco Soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0,2
29999,Cookies By Design Cookies On A Stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0,7

In [54]:
num_year = recipes.groupby(recipes["submitted"].dt.year)["id"].count() # группируем по submitted и считаем кол-во id
num_year

submitted
1999     275
2000     104
2001     589
2002    2644
2003    2334
2004    2153
2005    3130
2006    3473
2007    4429
2008    4029
2009    2963
2010    1538
2011     922
2012     659
2013     490
2014     139
2015      42
2016      24
2017      39
2018      24
Name: id, dtype: int64

### Объединение таблиц `pd.DataFrame`

5.1 При помощи объединения таблиц, создайте `DataFrame`, состоящий из четырех столбцов: `id`, `name`, `user_id`, `rating`. Рецепты без отзывов должны отсутствовать в данной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и выведя на экран строку из полученного `DataFrame`, содержащую информацию об этом отзыве.

In [55]:
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count
0,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0,8
1,Healthy For Them Yogurt Popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0,5
2,I Can T Believe It S Spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0,7
3,Italian Gut Busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0,3
4,Love Is In The Air Beef Fondue Sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0,8
...,...,...,...,...,...,...,...,...,...,...
29995,Zurie S Holey Rustic Olive And Cheddar Bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0,8
29996,Zwetschgenkuchen Bavarian Plum Cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0,4
29997,Zwiebelkuchen Southwest German Onion Cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0,5
29998,Zydeco Soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0,2
29999,Cookies By Design Cookies On A Stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0,7

In [56]:
reviews

,user_id,recipe_id,date,rating,review
index,,,,,
370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...
1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

In [57]:
new_table = pd.merge(
    recipes,
    reviews,
    how='inner',
    left_on='id',
    right_on='recipe_id'
)[['id', 'name', 'user_id', 'rating']]
new_table

            id                                    name  user_id  rating
0        44123   George S At The Cove  Black Bean Soup   743566       5
1        44123   George S At The Cove  Black Bean Soup    76503       5
2        44123   George S At The Cove  Black Bean Soup    34206       5
3        67664      Healthy For Them  Yogurt Popsicles   494084       5
4        67664      Healthy For Them  Yogurt Popsicles   303445       5
...        ...                                     ...      ...     ...
126691  486161                             Zydeco Soup   305531       5
126692  486161                             Zydeco Soup  1271506       5
126693  486161                             Zydeco Soup   724631       5
126694  486161                             Zydeco Soup   133174       5
126695  298512  Cookies By Design   Cookies On A Stick   804234       1

[126696 rows x 4 columns]

In [58]:
unic_recipes = set(recipes["id"]) 
unic_review = set(reviews["recipe_id"])
rec_without_rev = pd.Series(list(unic_recipes - unic_review)) # получим айди тех recipe, на которых не оставили отзыва
print(rec_without_rev)
test_recipe = rec_without_rev.sample(1) # возвратит 1 строку (индекс и сам айди)
print("------------------------------------------------------------------------")
print(test_recipe)
sample_recipe = test_recipe.values[0]

#так как нету id recipe у тех кто в review не оставил отзыва на recipe, а мы создали таблицу, состояшую только из тех, кто написал отзыв, то докажем, пройдя по всем значениям id из таблицы new recipes и сравнивая с рандомным id user который не оставил отзыв -> тем самым, такой строки в таблице не найдется, ибо в таблице только те кто написал отзыв
new_table[new_table["id"] == sample_recipe]

0       401411
1       442372
2       270343
3        16395
4       294929
         ...
1895    294898
1896    278516
1897    278519
1898     32760
1899    188409
Length: 1900, dtype: int64
------------------------------------------------------------------------
744    232660
dtype: int64

Empty DataFrame
Columns: [id, name, user_id, rating]
Index: []

5.2 При помощи объединения таблиц и группировок, создайте `DataFrame`, состоящий из трех столбцов: `recipe_id`, `name`, `review_count`. У рецептов, для которых отсутствуют отзывы, в соответствущем столбце должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и выведя на экран строку из полученного `DataFrame`, содержащую информацию об этом отзыве.

In [59]:
reviews

,user_id,recipe_id,date,rating,review
index,,,,,
370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...
1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

In [60]:
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count
0,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0,8
1,Healthy For Them Yogurt Popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0,5
2,I Can T Believe It S Spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0,7
3,Italian Gut Busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0,3
4,Love Is In The Air Beef Fondue Sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0,8
...,...,...,...,...,...,...,...,...,...,...
29995,Zurie S Holey Rustic Olive And Cheddar Bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0,8
29996,Zwetschgenkuchen Bavarian Plum Cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0,4
29997,Zwiebelkuchen Southwest German Onion Cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0,5
29998,Zydeco Soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0,2
29999,Cookies By Design Cookies On A Stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0,7

In [61]:
#ff = reviews.groupby('recipe_id')['review'].count()
#ff

In [62]:
grouped_df = reviews.groupby('recipe_id')['review'].count().reset_index()
print(grouped_df)
new_table2 = pd.merge(
    recipes,
    grouped_df.rename(columns={'review': 'review_count'}),
    how='inner',
    left_on='id',
    right_on='recipe_id'
)[['recipe_id', 'name', "review_count"]]
new_table2

       recipe_id  review
0             48       2
1             55       4
2             66      18
3             91       4
4             94       4
...          ...     ...
28095     536547       1
28096     536610       1
28097     536728       1
28098     536729       4
28099     536747       4

[28100 rows x 2 columns]

       recipe_id                                          name  review_count
0          44123         George S At The Cove  Black Bean Soup             3
1          67664            Healthy For Them  Yogurt Popsicles             8
2          38798                  I Can T Believe It S Spinach             3
3          35173                          Italian  Gut Busters             1
4          84797      Love Is In The Air  Beef Fondue   Sauces             8
...          ...                                           ...           ...
28095     267661  Zurie S Holey Rustic Olive And Cheddar Bread             4
28096     386977          Zwetschgenkuchen  Bavarian Plum Cake             2
28097     103312   Zwiebelkuchen   Southwest German Onion Cake             6
28098     486161                                   Zydeco Soup             6
28099     298512        Cookies By Design   Cookies On A Stick             1

[28100 rows x 3 columns]

In [63]:
recipes_reviews_df = new_table2.fillna(0) # на место na 0
print(recipes_reviews_df)

print("----------------------------------------------------")

unic_recipes = set(recipes["id"])  # все айди рецептов
unic_review = set(reviews["recipe_id"]) #все айди рецетов в отзывах

rec_without_rev = pd.Series(list(unic_recipes - unic_review))
#print(rec_without_rev)

test_recipe = rec_without_rev.sample(1)
print(test_recipe)
sample_recipe = test_recipe.values[0]
print(sample_recipe)
new_table2[new_table2["recipe_id"] == sample_recipe]

       recipe_id                                          name  review_count
0          44123         George S At The Cove  Black Bean Soup             3
1          67664            Healthy For Them  Yogurt Popsicles             8
2          38798                  I Can T Believe It S Spinach             3
3          35173                          Italian  Gut Busters             1
4          84797      Love Is In The Air  Beef Fondue   Sauces             8
...          ...                                           ...           ...
28095     267661  Zurie S Holey Rustic Olive And Cheddar Bread             4
28096     386977          Zwetschgenkuchen  Bavarian Plum Cake             2
28097     103312   Zwiebelkuchen   Southwest German Onion Cake             6
28098     486161                                   Zydeco Soup             6
28099     298512        Cookies By Design   Cookies On A Stick             1

[28100 rows x 3 columns]
----------------------------------------------------
928    143335
dtype: int64
143335

Empty DataFrame
Columns: [recipe_id, name, review_count]
Index: []

5.3. Выясните, отзывы, добавленные в каком году, имеют наименьший средний рейтинг?

In [92]:
reviews

,user_id,recipe_id,date,rating,review
index,,,,,
370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...
1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

In [107]:
rating_by_year = reviews.groupby(reviews["date"].dt.year)['rating']
print("общее кол-во повторений\n",rating_by_year.count()) # год на кол-во повторений рейтинга
rating_by_year_mean = rating_by_year.mean() # сложит все рейтинги/общее кол-во
print("среднее\n", rating_by_year_mean)
#rating_by_year_mean.describe()
rating_by_year_mean.idxmin() # получаем индекс самого маленького значения (По ср знач)

общее кол-во повторений
 date
2000       13
2001      305
2002     2494
2003     3879
2004     5070
2005     7577
2006     9964
2007    15634
2008    18614
2009    17672
2010    12094
2011     8118
2012     6095
2013     5679
2014     3445
2015     2715
2016     2071
2017     2926
2018     2331
Name: rating, dtype: int64
среднее
 date
2000    3.384615
2001    4.134426
2002    4.481556
2003    4.526940
2004    4.546548
2005    4.563680
2006    4.603673
2007    4.547077
2008    4.484635
2009    4.524728
2010    4.454440
2011    4.302045
2012    4.341427
2013    4.274168
2014    4.110595
2015    4.047145
2016    3.912603
2017    3.353042
2018    3.504076
Name: rating, dtype: float64

2017

### Сохранение таблиц `pd.DataFrame`

6.1 Отсортируйте таблицу в порядке убывания величины столбца `name_word_count` и сохраните результаты выполнения заданий 3.1-3.3 в csv файл.

In [108]:
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count
0,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0,8
1,Healthy For Them Yogurt Popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0,5
2,I Can T Believe It S Spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0,7
3,Italian Gut Busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0,3
4,Love Is In The Air Beef Fondue Sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0,8
...,...,...,...,...,...,...,...,...,...,...
29995,Zurie S Holey Rustic Olive And Cheddar Bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0,8
29996,Zwetschgenkuchen Bavarian Plum Cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0,4
29997,Zwiebelkuchen Southwest German Onion Cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0,5
29998,Zydeco Soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0,2
29999,Cookies By Design Cookies On A Stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0,7

In [109]:
recipes = recipes.sort_values(by = "name_word_count", ascending=False) #desk - по убыванию
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count
26223,Subru Uncle S Whole Green Moong Dal I Ll Be Ma...,77188,95,6357,2003-11-21,NaN,my dad and mom quite enjoy this lentil curry. ...,15.0,343.0,15
28083,Tsr Version Of T G I Friday S Black Bean Soup...,102274,75,74652,2004-10-19,9.0,from www.topsecretrecipes.com i got this copyc...,16.0,436.0,14
26222,Subru Uncle S Toor Ki Dal Sindhi Style Dad M...,76908,65,6357,2003-11-18,29.0,this is the lentil curry that subru uncle(our ...,15.0,1087.0,14
27876,Top Secret Recipes Version Of I H O P Griddl...,113346,20,175727,2005-03-14,5.0,this recipe is top secret recipes version of i...,9.0,129.0,14
5734,Chicken Curry Or Cat S Vomit On A Bed Of Magg...,294898,30,802799,2008-03-28,11.0,an old family recipe that's easy to make since...,12.0,144.0,13
...,...,...,...,...,...,...,...,...,...,...
3253,Blackmoons,323195,430,415934,2008-09-04,5.0,my mom was a newlywed in the 1950s when she fo...,NaN,389.0,1
4138,Bushwhacker,156521,10,177392,2006-02-17,1.0,this drink is an excellent after dinner drink ...,6.0,124.0,1
2357,Basbousa,12957,60,18391,2001-10-20,NaN,this is a traditional middle eastern dessert. ...,NaN,78.0,1
15052,Josefinas,264859,20,498271,2007-11-11,7.0,"from the junior league of corpus christi tx, t...",NaN,92.0,1
4710,Caramels,143615,30,212088,2005-11-02,NaN,i've been making these at christmas time for y...,6.0,341.0,1

In [115]:
recipes.to_csv('./for_save/Kuznetsov_file_6_1.csv', index = False)
recipes.to_csv('./for_save/Kuznetsov_file_6_1_test.csv')

6.2 Воспользовавшись `pd.ExcelWriter`, cохраните результаты 5.1 и 5.2 в файл: на лист с названием `Рецепты с оценками` сохраните результаты выполнения 5.1; на лист с названием `Количество отзывов по рецептам` сохраните результаты выполнения 5.2.

In [209]:
with pd.ExcelWriter("./for_save/itog3.xlsx") as excelWriter:
    new_table.to_excel(excelWriter, sheet_name="Рецепты с оценками", index = False)

    new_table.to_excel(excelWriter, sheet_name= "Количество отзывов по рецептам", index = False)